.center {
    margin: auto;
    width: 40%;
}

input {
    border-bottom: 3px solid #efeeed;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-weight: 500;
    color: #efeeed;
    width: 100%;
    outline: none;
    font-size: larger;
}

input:focus {
    border-bottom: 3px solid #efeeed;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-weight: 500;
    color: #333333;
    width: 100%;
    outline: none;
    font-size: larger;
}

input.ng-touched.ng-invalid {
    border-bottom: 3px solid #eb4a46;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-weight: 500;
    color: #eb4a46;
    width: 100%;
    outline: none;
    font-size: larger;
}

.label {
    font-weight: 500;
    font-size: larger;
}

button {
    width: 100%;
    border: transparent;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    height: 60px;
}

button:disabled {
    color: #dddcdc;
    background-color: #f6f6f6;
    outline: none;
}

button:enabled {
    color: #ffffff;
    background-color: #00c8b3;
    opacity: 100%;
    outline: none;
}

button:enabled:hover {
    color: #ffffff;
    background-color: #00c8b3;
    opacity: 70%;
    outline: none;
}