.center {
    margin: auto;
    width: 90%;
}

input {
    border-bottom: 3px solid #efeeed;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    color: #efeeed;
    width: 100%;
    outline: none;
    font-size: larger;
    font-weight: 500;
}

input:focus {
    border-bottom: 3px solid #efeeed;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-weight: 500;
    color: #333333;
    width: 100%;
    outline: none;
    font-size: larger;
}

input.ng-touched.ng-invalid {
    border-bottom: 3px solid #eb4a46;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-weight: 500;
    color: #eb4a46;
    width: 100%;
    outline: none;
    font-size: larger;
}

.label {
    font-weight: 500;
    font-size: larger;
}

.btn {
    width: 100%;
    border: transparent;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    height: 50%;
    margin-top: 40%;
}

.btn:disabled {
    color: #dddcdc;
    background-color: #f6f6f6;
    outline: none;
}

.btn:enabled {
    color: #ffffff;
    background-color: #00c8b3;
    outline: none;
}

.btn:enabled:hover {
    color: #ffffff;
    background-color: #00c8b3;
    opacity: 70%;
    outline: none;
}

.p-2 {
    border-top: 2px solid black;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
    border-bottom: 2px solid black;
    font-size: larger;
    font-weight: 500;
    width: 25%;
}

.wd295 {
    width: 29.5%;
}

.wd28 {
    width: 28%;
}

.wd24 {
    width: 24%;
}

.wd235 {
    width: 23.5%;
}

.wd6 {
    width: 6%;
}

.wd4 {
    width: 4%;
}